*{
  font-family: "Inter", sans-serif;
 
}
main{
  background-color: #F2F2F2;
  
  
}

#titulo{
  color: white;
  padding-left: 50px;
  font-weight: 800;
  font-size: 35px;
}
.nav-link{
  
  color: white;
  font-size: 16px;
  font-weight: 600;
}
#descricao{
  padding-top: 50px;
  display: flex;
  justify-content: center; 

}
#text{
  width: 45vw;
  margin-top: 80px;
 
}
h2{
  font-size: 35px;
  font-weight: 800;
}
#paiForm{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
#form{
  padding: 60px 30px 60px 30px ;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 45vw;
  background-color: white;
  border-radius: 30px;
  font-size: 20px;
  
  
}
.form-control{
  background-color: #F2F2F2E5;
  border: none;
}
#input{
  margin-left: 20px;
}
#button{
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  
}
#button:hover{
  box-shadow: 4px 4px 3px #59bfee;
  color: #59bfee;
  
}

#tituloResult{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
h3{
  font-size: 35px;
  font-weight: 800;
  margin-right: 20px;
  margin-top: 30px;
}
#resultEndereco{
  display: grid;
  justify-content: center;
  align-items: center;
  
  
}
#headdiv{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 50vw;
  background-color: #0B70F2;
  color: white;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  font-weight: 600;
  
 
  
}
#recebeInfor{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50vw;
  background-color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  font-weight: 600;
  
}
#resultTemp{
  
  display: grid;
  justify-content: center;
  
  
}

#tituloResult02{
  margin-top: 100px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#recebeTemp{
  width: 50vw;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid #0B70F2;
  padding: 12px;
  margin-bottom: 150px;
  color: black;

}

#final{
  padding-top: 20px;
  display:grid ;
  grid-auto-flow: column;
  justify-content: flex-end;
}
footer p{
  color: white;
  margin-right: 20px;
}

@media only screen and (max-width: 600px){
  #nav{
    justify-content: center;
    
  }
  #titulo{
    padding-left: 0px;
  }
  #links{
    padding-left: 50px;
  }

  #descricao{
    padding-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
  }
  #text{
    width: 80vw;
    margin-top: 30px;
    text-align: center;
   
  }
  h2{
    font-size: 20px;
    font-weight: 800;
  }
  #form{
    padding: 60px 30px 60px 30px ;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80vw;
    font-size: 15px;
    
    
  }
  #temp{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  #input{
    margin-left: 0px;
  }
  #tituloResult{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  h3{
    font-size: 20px;
    margin-right: 0px;
    margin-top: 0px;
  }
 
  #tituloResult02{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  #headdiv{
    font-size: 11px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80vw;
    font-weight: 400;
    
   
    
  }
  #recebeInfor{
    font-size: 11px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80vw;
    font-weight: 500;
    
  }
  #recebeTemp{
    width: 90vw;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 150px;
    color: black;
  
  }
  #final a{
    font-size: 14px;
   
  }
  footer p{
    color: white;
    margin-right: 20px;
    
  }
  
 
}



